@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', serif;
}

a {
    color: unset;
    text-decoration: none;
}

ul {
    list-style: none;
}

.highlight__background {
    background-image: url(../assets//HighlightBg.jpg);
    background-size: cover;
    background-position: top;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: top;
}

.blue__gradient {
    background: rgb(0, 59, 92);
    background: linear-gradient(0deg, rgba(0, 59, 92, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}